// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: white;
  background-color: white; opacity: 0.8; filter: alpha(opacity=50);
  padding: 18px 0;
  display: flex;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  /*to fix atop*/
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid;
  /*border-color: black;*/
  z-index: 3;
}


p {
  font-size: 20px;
}

a {
  text-decoration: none !important;
}

.menu_item {
  font-size: 12px;
  text-decoration: none !important;
  color: black;
}

li {
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

h3 {
  color: white;
  font-size: 25px;
}

form {
  font-size: 30px;
}

input {
  font-size: 25px;
  color: blue;
  border: black solid 1px;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.submit {
  color: black;
  font-size: 20px;
  padding:5px 15px;
  background:#ccc;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.menu {
  /*border: 1px solid #fff;  /* For debugging */
  width: 300px;
  height: 20px;
  display: flex;
  justify-content: space-around;
}

.links {
  border: 1px solid #fff;  /* For debugging */
  display: flex;
  justify-content: flex-end;
}

.header-container {
  height: 100vh;
  background-image: url("images/Chicago.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

.welcome-container {
  color: black;
  height: auto;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans Condensed', sans-serif;
 /* background-color: #E8E7E7;*/
  background-color: #FAFAD2;
  padding-bottom: 20px;
  padding-top: 10px;
}

.logo {
  z-index: 2;
}

.chicago-image {
  height: 450px; /* or auto, try both*/
  width: 100%;
}
