// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

h3 {
  color: white;
  font-size: 25px;
}

form {
  font-size: 30px;
}

input {
  font-size: 20px;
  color: blue;
  border: black solid 1px;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

label {
  font-size: 20px;
}

select {
  font-size: 20px;
}

.submit {
  color: black;
  font-size: 18px;
  padding:5px 15px;
  background:#ccc;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


.links {
  border: 1px solid #fff;  /* For debugging */
  display: flex;
  justify-content: flex-end;
}

.header-container {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100vh;
  color: gray;
  font-family: 'Quattrocento Sans', sans-serif;

}

.logo {
  z-index: -2;
  flex: 1 1 auto;
  width: 5%;
}

.header-item {
  flex: 1 1 auto;
  width: 25%;
}

.screener-container {
  color: black;
  height: auto;
  width: 100%;

  font-family: 'Quattrocento Sans', sans-serif;
 /* background-color: #E8E7E7;*/
  background-color: #f2f2f2;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 15px;
}

